@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: auto;
}

body {
    font-family: "Work Sans", serif;
}

header {
    color: aliceblue;
    background-color: black;
    width: 80%;
    margin: auto; /* centro */
    height: 80px; /* pixeles */
    padding: 30px 10px 20px 50px; /* arriba derecha abajo izquierda */
}

/* # gato = id  */
#logo {
    float: left;
    padding: 20px;
    width: 30%;
}

nav {
    float: right;
    width: 50%;
    border: none;
    /* border: solid 1px pink; /* tipo tamaño color*/
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    float: left;
    padding: 10px;
    text-transform: uppercase;
}

a:hover {
    background-color: crimson;
    color: blue;
}

#slide {
    background-image: url('../image/psic.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    text-align: center;
}

/* sólo para h1 en slide*/
#slide h1 {
    padding-top: 30px;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    text-shadow: rgb(216, 106, 124) 2px 0 10px;
}

#slide p {
    font-size: 18px;
    color: pink;
    width: 40%;
}

main section {
    width: 80%;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

main section h1 {
    font-size: 40px;
    color: firebrick;
    padding-bottom: 20px;
}

main section img {
    margin-left: 20px;
}

.imagen-derecha {
    float: right;
    width: 350px;
    border-left: 20px;
    border-radius: 20px;
}

.boton {
    width: 40%;
    background: firebrick;
    color: white;
    font-size: 30px;
    vertical-align: middle;
    border-radius: 20px;
    text-align: center;
    float: left;
    margin: 20px;
    padding: 10px 0;
}

#galeria {
    overflow: hidden;
    width: 80%;
    padding: 20px;
    /* display: flex; */
    text-align: center;
    border-top: solid 1px black;

}

.foto-galeria {
    width: 45%;
    border-radius: 20px;
    box-shadow: palevioletred 1px 0 5px;
    /* float: left; */
    margin: 5px;
}

footer {
    background-color: firebrick;
    color: white;
    width: 100%;
    height: 100px;
    padding: 20px; /* sólo 2: arriba&abjo, lados*/
    text-align: center;
}

#contacto {
    display: flex;
}

.formulario input {
    width: 100%;
    padding: 5px;
    border: solid 1px firebrick;
    display: block;
    margin-bottom: 6px;
}

.mapa iframe {
    width: 100%;
}

/* . punto = clase */
.redes-sociales {
    color: midnightblue;
    padding: 5px;
}